/* black skin */

body {
  background-color: black;
  color:white;
}
a {
  color: #9999FF;
}

#wikiheader .headerpad {
  background-color: #c0c0c0;
}

#navibar a {
  color: black;
}
#wikibody h1 {
  color: white;
  background-color: #404040;
  border-top: 6px solid #c0c0c0;
}
#wikibody h2 {
  color: white;
  background-color: #606060;
}
#wikibody a:visited {
  color: #a0a0ff;
}
#wikibody a:link {
  color: #c0c0ff;
}
#wikibody .contents {
  padding: 12px;
}

#wikinavi .navipad {
  background-color: #404040;
}

#wikinavi h2,
#wikinavi h3,
#wikinavi h4,
#wikinavi h5,
#wikinavi h6 {
  color: black;
  background-color: #c0c0c0;
  border-left: 8px solid #909090;
}
#wikisidebar h2,
#wikisidebar h3,
#wikisidebar h4,
#wikisidebar h5,
#wikisidebar h6 {
  color: black;
  background-color: #c0c0c0;
}
#wikimessage .bodypad {
  background-color: black;
  color: white;
}



