{{ include parts_header.html }}

<p class="clear" />

<!-- editor script -->
<script src="{{ $url_page_edit_js }}"></script>
<script>
$(function(){
    // editor init
    konawiki_page_edit_init("{$baseurl}", "{$page}", "{$id}");
    // textarea resize
    var txt = document.getElementById("body_txt");
});
// closeTitleList
function closeTitleList() {
  $("#wikieditortitle").hide();
}
</script>

{{#_________________________________________________________}}

<div id="wikieditor">
  <div class="editorpad">
    <div id="wikieditorbody">
      <div class="bodypad">


{{ $error_message }}
{{ $conflict_body }}

<!-- form.begin -->
<form id="main_frm" method="post" action="{$baseurl}">
<div>
<textarea id="body_txt" name="body" rows="16" cols="70" class="maintext">{{ $body }}</textarea>
</div>
<div class="buttons">
  <span id="save_btns">
    <input class="pure-button" type="button" id="save_btn"   value="{{'Save'|lang}}"/>
    <input class="pure-button" type="submit" id="submit_btn" value="{{'Save and Show'|lang}}"/>
    <input class="pure-button" type="button" onclick="konawiki_edit_preview(); return false;" 
           value="{{'Preview'|lang}}"/>
    <input type="checkbox"  id="editmode_chk"   name="editmode"  value="delete" />
    <label for="editmode_chk"><span class="hint">{{'Delete if blank.'|lang}}</span></label>
    <input type="checkbox"  id="private_chk"   name="private_chk"  value="1" {{ $private_chk }} />
    <label for="private_chk"><span class="hint">{{'Private'|lang}}</span></label>
           </span>
  <p style="padding: 8px;">
    <span class="hint">Tag:</span>
    <input type="text" id="tag_txt" name="tag" size="20" value="{{$tag}}"/>
    <span class="hint">({{'Comma is delimiter.'|lang}})</span>
  </p>
  <input type="hidden"    name="page"    value="{{$page_raw}}" />
  <input type="hidden"    name="action"  value="edit" />
  <input type="hidden"    name="stat"    value="update" />
  <input type="hidden"    name="id"      value="{{$id}}" />
  <input type="hidden"    id="hash_param" 
         name="hash"
        value="{{$hash}}" />
  <input type="hidden" id="login_auth_hash" 
         name="login_auth_hash" 
        value="{{$login_auth_hash}}" />
</div><!--end of buttons-->

</form>
<!-- form.end -->
{{#_________________________________________________________}}

<!-- edit footer -->
<div id="msg"></div>
<div id="debug"></div>
<div class="date" id="uptime_div">
  {{'Updated time'|lang}}
  (
      {{ e:echo konawiki_date_html($mtime, 'easy') }}
      {{ e:echo konawiki_time($mtime) }}
  )
</div>
<div id="count_div" class="date"></div>
{{'Mini help'|lang}}
<!-- *****preview**** -->
<div id="wikibody" style="width:100%;">
  <div id="preview"></div>
</div><!-- end of wikibody for preview -->

{{#_________________________________________________________}}
      </div>
    </div><!-- end of #wikieditorbody -->
  </div>
</div><!-- end of #wikieditor -->
<div class="clear"></div>



<a name="wikicommand-a">&nbsp;</a>
<div id="wikicommand" style="display:none;">
{{ include subparts_attachlist2.html }}
{{ include subparts_backuplist.html }}
{{ include subparts_replace_form.html }}
{{ include subparts_rename_form.html }}
{{ include subparts_rename_ex_form.html }}
{{ include subparts_batch.html }}
<h6>Export</h6>
<ul>
  <li><a href="index.php?all&export">Export all wiki data</a></li>
  <li><a href="index.php?all&import">Import all wiki data</a></li>
</ul>
</div><!-- /#wikicommand -->
<div class="box" id="wikicommand-btn">
  <a class="pure-button" href="#wikicommand-a" onclick="showWikiCommand()">
  Show Command</a>
</div>
<script>
  function showWikiCommand() {
    $("#wikicommand").show();
    $("#wikicommand-btn").hide();
  }
</script>

{{#_________________________________________________________}}

{{ include parts_footer.html }}

