<!-- footer.begin -->
<footer>
<div id="wikifooter">
  <div class="wikifooterpad">
    <div class="menu">{{ $description }}</div>
    <div class="menu">{{e: echo  konawiki_getEditMenu() }}</div>
{{ if (isset($ctime_html)) }}
  <div class="pageinfo">
  {{ if ($ctime_html != $mtime_html) }}
    {{ e: echo konawiki_lang('Updated time','Updated').': '.$mtime_html }} <br>
    {{ if (konawiki_public("FrontPage") != konawiki_getPage()) }}
      {{ e: echo konawiki_lang('Created time','Created').": ".$ctime_html }}
    {{ endif }}
  {{ else }}
    {{ e: echo konawiki_lang('Created time','Created').": ".$ctime_htm }}
  {{ endif }}
  </div>
{{ endif }}
  <div class="menu">
    <p><a href="{{ $short_url }}">{{ $short_url }}</a></p>
    <p><span style='background-color:#ffffcc;color:gray;'>
    <a href="{{ $long_url }}">{{ $page }}</a></span></p>
  </div><!-- menu -->

<div>{{ $title }} by {{ $author }} {{ $rsslink }}</div>
<div><a href="https://kujirahand.com/konawiki">konawiki {{ $KONAWIKI_VERSION }}</a></div>
</div></div>
{{ e: echo konawiki_private("footer.analytics"); }}
<!-- footer.end -->
{{ if (konawiki_is_debug()) }}
  <div class='message'>
  {{e: konawiki_page_debug(); }}
  </div>
{{ endif }}
</footer>

</body>
</html>


